<div class="login-container">
  <% form_for :session do |f| %>
    <div class="login-username">
      <%= f.text_field :username %>
    </div>
    <div class="login-password">
      <%= f.password_field
    </div>
  <% end %>
</div>
