<% @users.each do |user| %>
  <div class="col-lg-2 col-md-3 col-xs-4 thumb">
    <a class="thumbnail" href="<%= user_path(user)%>">
      <img class="img-responsive" src="<%= user.photo_url %>" alt="">
      <p><%= user.full_name %></p>
    </a>
  </div>
<% end %>


