$rocker-font: 'New Rocker';
$sans: "Helvetica";

body {
  font-family: $rocker-font;
}

header {
  h1 {
    display: inline-block;
    a {
      color: #ff0091;
    }
  }
  .container {
    position: relative;
  }
  nav {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
  }
}

.form-container {
  float: none;
  margin: 0 auto;
  padding: .5em 2em 2em 2em;
  border-radius: 15px;
  background-color: #00eff6;
  .input-container {
    margin: 1em 0;
    input {
      font-family: $sans;}}
  h3 {
    text-align: center;
  }
  .btn {
    background-color: black;
    border: none;
    &:hover {
      background-color: black + 70;
    }
  }
  a {
    color: black;
    text-decoration: underline;
  }

}

.navbar-static-top {
    min-height: 90px;
    background-color: greenyellow;
}

.navbar-static-top .container {
    min-height: 90px;
}

.container.main-content {
  background-color: #00eff6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent !important;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
