$rocker-font: 'New Rocker';
$sans: "Helvetica";

body {
  font-family: $rocker-font;
}

header {
  h1 {
    display: inline-block;
    a {
      color: silver;
      &:hover { color: silver + 50; }
    }
  }
  .container {
    position: relative;
  }
  nav {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
  }
}

.form-container {
  float: none;
  margin: 0 auto;
  padding: .5em 2em 2em 2em;
  border-radius: 15px;
  background-color: silver;
  .input-container {
    margin: 1em 0;
    input {
      font-family: $sans;}}
  h3 {
    text-align: center;
  }
  .btn {
    background-color: black;
    border: none;
    &:hover {
      background-color: black + 70;
    }
  }
  a {
    color: black;
    text-decoration: underline;
  }

}

.navbar-static-top {
    min-height: 90px;
}

.navbar-static-top .container {
    min-height: 90px;
}
