p {
  font-family: $sans;
}

td a {
  color: black;
  text-decoration: underline;
}

.inc-btn {
  display: inline-block;
  
}

.edit_student {
  display: inline-block;
}

.student-info p {
  display: inline-block;
}
