p {
  font-family: $sans;
}

td a {
  color: black;
  text-decoration: underline;
}

.sort-desc::after {
	content: '\25BC';
}

.sort-asc::after {
	content: '\25B2';
}

.inc-btn {
  display: inline-block;
}

.edit_student {
  display: inline-block;
}

.student-info p {
  display: inline-block;
}
